{
  "fvRsPathAtt": {
    "attributes": {
      "encap": "vlan-{{ bd.value.vlan_id }}",
      "instrImedcy": "immediate",
      "tDn": "topology/pod-1/protpaths-{{ bd.value.leafs }}/pathep-[{{ bd.value.ipg }}]",
      "status": "created"
    },
    "children": []
  }
}
